body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}


.main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width: 500px;
    background: #ddebf8;
    color: #2b2839;
}

.profile {
    width: 150px;
    height: 110px;
    margin-top: 10px;
    
}

.border {
    border: 2px solid #d8cefe;
    border-bottom: 4px solid #d8cefe;
}

.info {}